<% include partial/head.ejs %>
    <% include partial/navbar.ejs %>
    <div class="container">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
    </div>
    <% include partial/footer.ejs %>
<% include partial/foot.ejs %>