<% include partial/head.ejs %>
    <% include partial/navbar.ejs %>
    <div class="container">
    <h1><b>U</b>niversal <b>E</b>ntity <b>ID</b>entifier</h1>
    <p>Welcome to <%= title %></p>
    </div>
    <% include partial/footer.ejs %>
<% include partial/foot.ejs %>
