<% include partial/head.ejs %>
    <% include partial/navbar.ejs %>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>
    <% include partial/footer.ejs %>
<% include partial/foot.ejs %>
